<!-- yourappname/templates/lombard_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lombard List</title>
</head>
<body>
    <h1>Lombard List</h1>
    <ul>
        {% for item in lombard_data %}
            <li>
                <strong>STIR:</strong> {{ item.STIR }}<br>
                <strong>Nomi:</strong> {{ item.Nomi }}<br>
                <strong>Manzil:</strong> {{ item.Manzil }}<br>
                <strong>Sana:</strong> {{ item.Sana }}<br>
                <strong>Raqam:</strong> {{ item.Raqam }}<br>
                <strong>Muddati:</strong> {{ item.Muddati }}<br>
                <hr>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
